<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
    <add name="TransafeRx" 
      connectionString="data source=tachl.mdc.musc.edu;initial catalog=TransafeRx;user id=MuscUser;password=M!usc1234;multipleactiveresultsets=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="EpicFilePath" value="\\tachlmsg\transaferx\production\" />
    <add key="EpicArchiveFilePath" value="\\tachlmsg\transaferx\production\archive\" />
    <add key="SupportEmail" value="rogerss@hitechnologysolutions.com" />
  </appSettings>
</configuration>