@model TransafeRx.Models.ReportViewModel

@if (!Request.UserAgent.ToLower().Contains("ipad"))
{
    <div class="box">
        <div class="box-col">
            <button id="ExportBloodPressure" class='k-button k-primary'>Save as PDF</button>
        </div>
    </div>
}

@(Html.Kendo().Chart()
    .Name("BloodPressureChart")
    .Title("Blood Pressure Measurements")
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Bottom)
    )
    .Tooltip(tooltip => tooltip
        .Visible(true)
    )
    .Series(series =>
    {
        series.Line(Model.SBPSeries).Name("Systolic").Color(Model.GetRandomColor());
        series.Line(Model.DBPSeries).Name("Diastolic").Color(Model.GetRandomColor());
        series.Line(Model.PulseSeries).Name("Pulse").Color(Model.GetRandomColor());
    })
    .CategoryAxis(axis => axis
            .Categories(Model.DateSeries)
            .MajorGridLines(lines => lines.Visible(false))
        )
    .ValueAxis(axis => axis.Numeric()
      .Labels(labels => labels.Format("{0:N0}"))
      /*.PlotBands(bands =>
      {
          bands.Add().From(Model.Thresholds.SystolicMin).To(Model.Thresholds.SystolicMax).Color("green").Opacity(0.5);
          bands.Add().From(Model.Thresholds.DiastolicMin).To(Model.Thresholds.DiastolicMax).Color("green").Opacity(0.5);
      }))*/)
    .ChartArea(x => x.Height(350))
    .Pdf(pdf => pdf
        .FileName("Blood Pressure Readings.pdf")
    )
)

<script type="text/javascript">
    $("#ExportBloodPressure").click(function () {
        $("#BloodPressureChart").getKendoChart().saveAsPDF();
    });
</script>